[Unit]
Description=Deployer

[Service]
Type=simple
ExecStart=/GO-BIN-PATH/deployer /PROJECT-PATH
Restart=on-failure
RestartSec=1s

[install]
WantedBy=multi-user.target